{% load  static %}
<div class="card mb-3">
                 <div class="class row">
                     <div class="col-md-3">
                         <img src="{% static 'portal.png' %}" alt="" class="img-fluid" >
                     </div>
                      <div class="col-md-9">
                          <div class="card-body">
                              <h5 class="card-title">Başlık </h5>
                              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, non?</p>
                          </div>
                      </div>
                 </div>
             </div>